/* ==============Baze================= */
body {
  font-family: Roboto, sans-serif;
  color: #2e2f42;
  font-size: 16px;
}

.list {
  list-style: none;
}

.decor {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ==============/Baze================= */

/* ============== Components============*/
:root {
  --main-color-text: #434455;
  --primary-brand: #4d5ae5;
  --universal-color: #2e2f42;
  --subakcent-color: #f4f4fd;
  --color-secondary: #ffffff;
  --color-fon: #f4f4fd;
  --color-decor: #e7e9fc;
}

/* ============== /Components============*/

/* --------логотип і навігація--------- */
.logo-web {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primary-brand);
}
.logo-studio {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--universal-color);
}

.nav-menu {
  list-style: none;
  text-decoration: none;
}
.text-style {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
.menu-list:hover,
.menu-list:focus {
  color: var(--main-color-text);
}
.menu-list:active {
  color: var(--primary-brand);
}

.text-top {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color-text);
}
.text-top-efects,
.text-top-efects {
  color: var(--main-color-text);
}
.text-top-efects:hover,
.text-top-efects:focus {
  color: var(--primary-brand);
}

/* --------/логотип і навігація--------- */

/* ------оформлення секції герой ----------*/
.hero-style {
  background-color: var(--universal-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--color-secondary);
}

.buttons-style {
  width: 170px;
  height: 51px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--color-secondary);

  cursor: pointer;
}
.buttons-style:hover,
.buttons-style:focus {
  background: var(--primary-brand);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.buttons-style:active {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  /* ------/оформлення секції герой ----------*/
}
/*  -------секція друга - основні переваги-------------*/

.subhead {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.main-content {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color-text);
}

/*  --------/секція друга - основні переваги-------------*/

/* ----------cекція третя - що ми робимо-------------- */
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* --------/cекція третя - що ми робимо-------------- */

/*--------секція четверта - наша команда-----------*/
.sub-subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.back-ceil {
  background-color: var(--color-fon);
}
.back-pictures-phone {
  background-color: var(--color-secondary);
}

.text-describ {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}

/*--------/секція четверта - наша команда-----------*/

/* -----------футер-------------- */

.color-back-space {
  background-color: var(--universal-color);
}
.second-logo-color {
  color: var(--color-fon);
}
.main-footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
/* -----------/футер-------------- */

/* ==================Portfolio======================= */

/* -----------оформлення кнопок----------- */

.filter-button {
  background-color: var(--color-fon);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--primary-brand);
  color: var(--color-secondary);
}
/* -----------/оформлення кнопок----------- */

/* ----------оформлення тексту до карток-------------*/
.text-image {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--universal-color);
}

.subtext-image {
  color: var(--main-color-text);
}

/* ----------/оформлення тексту до карток-------------*/

/* ==================/Portfolio======================= */
